@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --lightblue:#31C3BD;
    --lightbluehover:#65E9E4;
    --yellow:#F2B137;
    --yellowhover:#FFC860;
    --darknavy:#1A2A33;
    --semidarknavy: #1F3641;
    --silver:#A8BFC9;
    --silverhover:#DBE8ED;
}

body{
    font-family: 'Outfit', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--darknavy);
    text-transform: uppercase;
} 

.newgame{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 24px;
    gap: 32px;
    max-width: 410px;
    margin: auto;
}

.newgame-container{
    background-color: var(--semidarknavy);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 24px;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
}

.newgame-container h4{
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--silver);
}

.newgame-container p{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.875px;
    color: var(--silver);
}

.choose-xo{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--darknavy);
    height: 72px;
    border-radius: 10px;
    padding: 9px 8px;
}

.pickx{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 54px;
    border-radius: 10px;
    border: none;
    background-color: var(--darknavy);
}

.picko{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 54px;
    border-radius: 10px;
    border: none;
    background-color: var(--darknavy);
}

.pickx:hover{
    background-color: var(--semidarknavy);
    cursor: pointer;
}

.picko:hover{
    background-color: var(--semidarknavy);
    cursor: pointer;
}

.active{
    background-color: var(--silver);
}

.active .path{
    fill: var(--darknavy);
}

.remember{
    opacity: 50%;
}

.vscpu{
    background: #F2B137;
    box-shadow: inset 0px -8px 0px #CC8B13;
    border-radius: 15px;
    border: 0;
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: -16px;
    cursor: pointer;
}

.vsplayer{
    background: #31C3BD;
    box-shadow: inset 0px -8px 0px #118C87;
    border-radius: 15px;
    border: 0;
    width: 100%;
    height: 56px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.game-board{
    display: flex;
    flex-direction: column;
    padding: 23px;
    width: 100%;
    height: 100vh;
    gap: 20px;
    max-width: 410px;
    margin: auto;
    display: none;
}

.game-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.turn-container{
    display: flex;
    gap: 9px;
    align-items: center;
    background-color: var(--semidarknavy);
    padding: 10px 14px;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 5px;
}

.turn-container img{
    width: 16px;
    height: 16px;
}

.turn-container p{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.875px;
    color: var(--silver);
}

.reset{
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.game-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
}

.game-box{
    width: 96px;
    height: 96px;
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 10px;
}

.game-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.game-footer h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.25px;
}

.game-footer h4{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.88px;
}


.your-score{
    background-color: var(--lightblue);
    width: 96px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.ties{
    background-color: var(--silver);
    width: 96px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cpu-score{
    background-color: var(--yellow);
    width: 96px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}



/* common styles for the result section */

.result{
    max-width: 410px;
    margin: auto;
}

section p{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.875px;
    color: var(--silver);
}

section h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.h2-x{
    color: var(--lightblue);
}

.h2-o{
    color: var(--yellow);
}

.quit{
    width: 76px;
    height: 52px;
    padding: 15px 17px;
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    border: 0;
}

.next-round{
    width: 146px;
    height: 52px;
    border: 0;
    background-color: var(--yellow);
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

.take-round{
    display: flex;
    gap: 9px;
    align-items: center;
    margin-bottom: 8px;
}

.img-x{
    width: 28px;
    height: 28px;
}

.img-o{
    width: 30px;
    height: 30px;
}

.result-footer{
    display: flex;
    gap: 16px;
}

/* common styles for the result section */

/* styles when player choose X */

.player-x-win{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

.player-x-lost{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

/* styles when player choose O */
.player-o-win{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

.player-o-lost{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

/* restart game */
.restart-game{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

.restart-game h2{
     color: var(--silver);
     margin-bottom: 8px;
}

.yes-restart{
    width: 146px;
    height: 52px;
    border: 0;
    background-color: var(--yellow);
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

.no-cancel{
    width: 146px;
    height: 52px;
    border: 0;
    background-color: var(--silver);
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

/* when playing player  with O */
.player-1o-win{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

.player-2o-win{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

/* when playing player  with X */
.player-1x-win{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

.player-2x-win{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

/* round tied */
.round-tied{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color:var(--semidarknavy) ;
    height: 228px;
    position: absolute;
    width: 100%;
    max-width: 410px;
    top: 35%;
    display: none;
}

.round-tied h2{
     color: var(--silver);
     margin-bottom: 8px;
}










